# dependencies
node_modules/

# build artifacts
artifacts/
cache/
typechain-types/
coverage/
coverage.json

# env files (never commit secrets)
.env
.env.local
.env.*.local
.env.example

# logs
*.log

# misc
.DS_Store
